.header__logo {
  min-width: 40px;
  max-width: 100px;
}

.btn-margin-left {
  margin-left: 5px;
}

.footer__icono {
  min-width: 30px;
  max-width: 60px;
}

.main {
  padding: 1%;
}
/*.container__fotobanda {
  //width: 100%;
  width: calcula_ancho($ancho);
}*/

.wrapper {
  width: calcula_ancho(100vh);
  height: 100vh;
  border: 2px solid #f08080;
}

.container__fotobandaimg {
  width: 90%;
}

@supports (display: grid) {
  @media (min-width: 800px) and (max-width: 3000px) {
    .wrapper {
      display: grid;
      //background-image: url("../images/banda.jpg");
      grid-template-columns: repeat (5, 1fr);
      grid-gap: 10px;
      grid-template-rows: repeat (4, auto); //minmax(100px, auto);
    }

    .container__fotobanda {
      //display: none;
      grid-column: 1 / span 5;
      grid-row: 1 / span 4;
    }

    .fotobanda {
      width: 100%;
      height: 100vh;
    }

    .bloque__parrafo {
      grid-column: 3;
      grid-row: 4;
      z-index: 2;
      background-color: #ffa07a;
      border: 2px solid #f08080;

      p {
        padding: 5px;
      }
    }

    .container__titleimage {
      grid-column: 1;
      grid-row: 1;
      writing-mode: vertical-rl;
      z-index: 2;
      color: #a9a9a9;
      background-color: rgba(255, 255, 255, 1); //#ffa07a;
      border: 2px solid #f08080;
    }
  }
}

@function calcula_ancho($n) {
  @return $n - 10;
}
